@model IEnumerable<POS.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Master</a></li>
    <li class="breadcrumb-item active">Bill</li>
</ol>
<hr />
<h2 class="page-title">
    Manage Bills
</h2>
<p>
    <a href="@Url.Action("Create", "Bill")" class="btn btn-success btn-shadow">
        Create
        <span class="fa fa-plus-circle" aria-hidden="true"></span>
    </a>
</p>

<table id="Product" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillTotal) Rs.
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Action</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("BillItems","Bill")?id=@item.Id">Bill Items</a>
                            <a class="dropdown-item" href="@Url.Action("Edit","Bill")?id=@item.Id">Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Product').DataTable();
        });
    </script>
}